
*{
    background-color: pink;
}
#line{
    background-color: black;
}

#indel{
    margin-left: 10px;
    margin-top: 10px;

}

/* #listcontainer{
    margin-left: 300px;
}
#input{
    margin-left: 300px;

}
#btn{
    height: 35px;
    margin-top: -20px;
} */